/* 

.packageSelected {
  border: 3px solid #0065ae;
}

.sixHourDuration {
  position: absolute;
  width: 244px;
  height: 268px;
  left: 711px;
  top: 279px;
  padding: 5px;
}

.tenHourDuration {
  position: absolute;
  width: 244px;
  height: 268px;
  left: 1022px;
  top: 279px;
  padding: 5px;
}

.packageDetails {
  position: absolute;
  width: 164px;
  height: 23px;
  left: 711px;
  top: 606px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 162.29%;

  letter-spacing: -0.035em;

  color: #000000;
} */

.SelectPackageComponents {
  padding-top: 15%;
}

.packageSelected {
  border: 3px solid #0065ae;
}

.hourlyPackages {
  background: white;
  border: none;
}

.packageDetails {
  padding-top: 5%;
}

.sixHourDuration {
  width: 100%;
  height: 100%;
}

.tenHourDuration {
  width: 100%;
  height: 100%;
}
