.SuburbDropdown {
  display: flex;
  align-items: center;
}

.locationDropdownOptions {
  height: 113px;
  width: 100%;
  border: none;
  font-size: xxx-large;
}

select {
  background-color: #ececec;
  font-size: xx-large;
  text-align: left;
  -moz-appearance: none;
  appearance: none;
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")
    #ececec no-repeat 96% !important;
}
